@{
    ViewData["Title"] = "Downloads";
}

<div class="cont3 container-fluid pt-5 my-5">
    <div class="container p-5">
        <div class="sectitle display-4 mb-3">
            DOWNLOAD
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none h-75" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        <div class="newstxt p-5 text-start">
                            <span>
                                <button class="playnowbtn btn px-4 py-3 my-3">PLAY NOW</button>
                            </span>
                            <span class="ggtitle fs-6 d-block">Let’s play!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none mb-2" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        @* <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Game Levels</span>
                        </div> *@
                    </div>
                </a>
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none mb-2" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        @* <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Game Levels</span>
                        </div> *@
                    </div>
                </a>
                <a class="newscont shadow rounded-4 overflow-hidden p-0 d-block text-decoration-none mb-2" href="#">
                    <div class="news-thumbnail position-relative">
                        <img src="~/img/opening.png" alt="News image" class="newsimg img-fluid w-100" />
                        @* <div class="newstxt p-3">
                            <span class="ggtitle fs-6 d-block">Game Levels</span>
                        </div> *@
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cont2 container-fluid mb-5">
    <div class="container p-5">
        <div class="sectitle display-4 mb-5">
            REVIEWS
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 d-flex mb-2">
                <div class="review-card w-100">
                    <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-3">
                            <img src="~/img/meow.png" class="img-fluid" alt="Avatar" />
                        </div>
                        <div>
                            <div class="stars mb-1">
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-regular fa-star fa-sm"></i>
                            </div>
                            <div class="review-tag">Cozy and Addictive!</div>
                        </div>
                    </div>
                    <div class="review-text">
                        Super chill! I love crafting meals and customizing my kiosk.
                    </div>
                </div>
            </div>

           
            <div class="col-lg-3 d-flex mb-2">
                <div class="review-card w-100">
                    <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-3">
                            <img src="~/img/meow.png" class="img-fluid" alt="Avatar" />
                        </div>
                        <div>
                            <div class="stars mb-1">
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star-half-stroke fa-sm"></i>
                            </div>
                            <div class="review-tag">Fun Gameplay with Charming Characters!</div>
                        </div>
                    </div>
                    <div class="review-text">
                        A cozy little game that makes you feel productive while relaxing.
                    </div>
                </div>
            </div>

           
            <div class="col-lg-3 d-flex mb-2">
                <div class="review-card w-100">
                    <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-3">
                            <img src="~/img/meow.png" class="img-fluid" alt="Avatar" />
                        </div>
                        <div>
                            <div class="stars mb-1">
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star fa-sm"></i>
                                <i class="fa-solid fa-star-half-stroke fa-sm"></i>
                            </div>
                            <div class="review-tag">Perfect for Casual Gamers!</div>
                        </div>
                    </div>
                    <div class="review-text">
                        Simple but addicting—my NPC customers are adorable!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


