@{
    ViewData["Title"] = "Gallery";
}
<!--gallery-->
<div class="cont3 container-fluid pt-5 mx-0 my-5">
    <div class="container my-5">
        <div class="sectitle display-4 mb-3">
            VIDEOS
        </div>
        <div class="vidimgrow row">
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        <div class="overlay"></div>
                        <div class="play-icon">
                            <i class="fa-solid fa-play fa-2xl"></i>
                        </div>
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Video 1</div>
                        <div><i class="fa-solid fa-arrow-up-right-from-square fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        <div class="overlay"></div>
                        <div class="play-icon">
                            <i class="fa-solid fa-play fa-2xl"></i>
                        </div>
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Video 1</div>
                        <div><i class="fa-solid fa-arrow-up-right-from-square fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        <div class="overlay"></div>
                        <div class="play-icon">
                            <i class="fa-solid fa-play fa-2xl"></i>
                        </div>
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Video 1</div>
                        <div><i class="fa-solid fa-arrow-up-right-from-square fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        <div class="overlay"></div>
                        <div class="play-icon">
                            <i class="fa-solid fa-play fa-2xl"></i>
                        </div>
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Video 1</div>
                        <div><i class="fa-solid fa-arrow-up-right-from-square fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
        </div>
        <div class="sectitle display-4 mb-3 mt-5">
            IMAGES
        </div>
        <div class="vidimgrow row">
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Kiosk Cooking</div>
                        <div><i class="fa-solid fa-download fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Ingredient Gathering</div>
                        <div><i class="fa-solid fa-download fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                        
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Kiosk Upgrades</div>
                        <div><i class="fa-solid fa-download fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
            <div class="col-lg-2 p-0 text-center mb-4">
                <a class="vidbtn btn btn-link p-0 shadow" href="https://www.youtube.com/watch?v=ot7uXNQskhs">
                    <div class="vid-thumbnail position-relative">
                        <img src="~/img/closing.png" alt="Alternate Text" class="vidpic img-fluid rounded-top-4" />
                    </div>
                    <div class="vidtitle p-3 rounded-bottom-4">
                        <div class="vidtitletxt">Community Events</div>
                        <div><i class="fa-solid fa-download fa-2xl" style="color: #D0B8A8;"></i></div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

<!--characters-->
<div class="cont2 container-fluid p-5">
    <div class="container">
        <div class="sectitle display-4 mb-3">
            CHARACTERS
        </div>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="medcar carousel-item active">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Elena</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>  
                </div>
                <div class="medcar carousel-item ">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Elena</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>
                </div>
                <div class="medcar carousel-item ">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Elena</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>
                </div>
            </div>
            <button class="medcar carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="howbtn p-3 rounded-3" aria-hidden="true"><i class="fa-solid fa-chevron-left fa-2xl" style="color: #603F26;"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="medcar carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="howbtn p-3 rounded-3" aria-hidden="true"><i class="fa-solid fa-chevron-right fa-2xl" style="color: #603F26;"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>

<!--location-->
<div class="cont2 container-fluid p-5">
    <div class="container">
        <div class="sectitle display-4 mb-3">
            LOCATIONS
        </div>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="medcar carousel-item active">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Location 1</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>
                </div>
                <div class="medcar carousel-item ">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Location 2</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>
                </div>
                <div class="medcar carousel-item ">
                    <img src="~/img/closing.png" class="d-block medpic mx-auto" alt="...">
                    <div class="ccmed carousel-caption p-3">
                        <h3 class="charname display-6">Location 3</h3>
                        <h6 class="chartype fs-3">Player</h6>
                        <p class="chardescrip fs-5">
                            Elena Cruz is a determined woman who follows her
                            passion for cooking after losing her corporate
                            job. She opens Elena’s Corner, a small kiosk stall
                            inspired by her grandmother, turning it into a
                            warm and thriving business.
                        </p>
                    </div>
                </div>
            </div>
            <button class="medcar carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="howbtn p-3 rounded-3" aria-hidden="true"><i class="fa-solid fa-chevron-left fa-2xl" style="color: #603F26;"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="medcar carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="howbtn p-3 rounded-3" aria-hidden="true"><i class="fa-solid fa-chevron-right fa-2xl" style="color: #603F26;"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>
